@import "tailwindcss";

/* Tes styles globaux (optionnels) */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0a0a0a; /* neutral-950 */
  color: #fafafa;      /* neutral-50 */
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, option {
  color-scheme: dark;
}

select option {
  background-color: #0a0a0a;
  color: #f5f5f5;
}

/* Date input: force le picker en dark */
.date-dark {
  color-scheme: dark;
}

